In [1]:
from selenium import webdriver
from pymongo import MongoClient
import re

In [2]:
from selenium.webdriver.common.keys import Keys

In [3]:
import pandas as pd

In [4]:
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By

In [5]:
pd.DataFrame(columns=["Caractéristiques(Chambres,Douches et Surfaces)","Emplacements","Prix"])

Empty DataFrame
Columns: [Caractéristiques(Chambres,Douches et Surfaces), Emplacements, Prix]
Index: []

In [6]:
service=Service('C:/Users/hechm/Downloads/chromedriver-win64/chromedriver-win64/chromedriver.exe')

In [7]:
driver=webdriver.Chrome(service=service)

In [10]:
driver.get('https://www.menzili.tn/')

In [11]:
caracteristiques=driver.find_elements(By.CLASS_NAME,'info-box')
emplacements = driver.find_elements(By.CLASS_NAME, 'block-adress')
prix = driver.find_elements(By.CLASS_NAME, 'item-box-price')

In [12]:
caracteristiques_list=[]
for l in caracteristiques:
    caracteristiques_list.append(l.text.split())
print(caracteristiques_list)
chambres_list=[]
for m in caracteristiques_list:
    for c in m:
        
        chambres_list.append(c)
douches_list=[]
for n in caracteristiques_list:
    for d in n:
        douches_list.append(d)
surfaces_list=[]
for o in caracteristiques_list:
    for s in o:
        surfaces_list.append(s)
emplacements_list=[]
for e in emplacements:
    emplacements_list.append(e.text.strip())
prix_list=[]
for p in prix:
    prix_list.append(p.text.strip())

[['7000m²'], ['5260m²'], ['2', '1'], ['3', '2', '198m²'], ['3', '2', '198m²'], ['605m²'], ['3', '3']]

In [13]:
data_tuples=list(zip(caracteristiques_list,emplacements_list,prix_list))
pd.DataFrame(data_tuples,columns=["Caractéristiques(Chambres,Douches et Surfaces)","Emplacements","Prix"])

,"Caractéristiques(Chambres,Douches et Surfaces)",Emplacements,Prix
0,[7000m²],"DJERBA - AJIM, MÉDENINE",70 DT
1,[5260m²],"DJERBA-HOUMT SOUK, MÉDENINE",95 DT
2,"[2, 1]","DJERBA-HOUMT SOUK, MÉDENINE",2 200 DT / Mois
3,"[3, 2, 198m²]","DJERBA-HOUMT SOUK, MÉDENINE",700 000 DT
4,"[3, 2, 198m²]","DJERBA-HOUMT SOUK, MÉDENINE",2 550 DT / Mois
5,[605m²],"DJERBA-HOUMT SOUK, MÉDENINE",350 000 DT

In [14]:
client=MongoClient('mongodb://localhost:27017/')
annonces=[{"Chambres":chambre,"Douches":douche,"Surface":surface,"Emplacements":emplacement,"Prix":prix} for chambre,douche,surface,emplacement,prix in zip(chambres_list,douches_list,surfaces_list,emplacements_list,prix_list)]
with client:
    db=client.immobilieres
    db.annonces.insert_many(annonces)

In [15]:
client=MongoClient('mongodb://localhost:27017/')
with client:
    db=client.immobilieres
    annonces=db.annonces.find()
    annonces.next()
    annonces.next()
    annonces.next()
    annonces.next()
    annonces.next()
    annonces.next()
    annonces.rewind()
    print(list(annonces))

[{'_id': ObjectId('67598bd47387c778238c220f'), 'Chambres': '7000m²', 'Douches': '7000m²', 'Surface': '7000m²', 'Emplacements': 'DJERBA - AJIM, MÉDENINE', 'Prix': '70 DT'}, {'_id': ObjectId('67598bd47387c778238c2210'), 'Chambres': '5260m²', 'Douches': '5260m²', 'Surface': '5260m²', 'Emplacements': 'DJERBA-HOUMT SOUK, MÉDENINE', 'Prix': '95 DT'}, {'_id': ObjectId('67598bd47387c778238c2211'), 'Chambres': '2', 'Douches': '2', 'Surface': '2', 'Emplacements': 'DJERBA-HOUMT SOUK, MÉDENINE', 'Prix': '2 200 DT / Mois'}, {'_id': ObjectId('67598bd47387c778238c2212'), 'Chambres': '1', 'Douches': '1', 'Surface': '1', 'Emplacements': 'DJERBA-HOUMT SOUK, MÉDENINE', 'Prix': '700 000 DT'}, {'_id': ObjectId('67598bd47387c778238c2213'), 'Chambres': '3', 'Douches': '3', 'Surface': '3', 'Emplacements': 'DJERBA-HOUMT SOUK, MÉDENINE', 'Prix': '2 550 DT / Mois'}, {'_id': ObjectId('67598bd47387c778238c2214'), 'Chambres': '2', 'Douches': '2', 'Surface': '2', 'Emplacements': 'DJERBA-HOUMT SOUK, MÉDENINE', 'Prix': '350 000 DT'}]

In [16]:
driver.quit()

In [17]:
client=MongoClient('mongodb://localhost:27017/')
with client:
    db=client.immobilieres
    print(f"Il existe {db.annonces.count_documents({})} annonces immobilières")

Il existe 6 annonces immobilières